.input-box {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  background-color: inherit;
  padding: 0.5em;
}

.input {
  width: 100%;
  border-radius: 5px;
  outline: none;
  border: none;
  padding: 0.5em 1em;
  height: 3em;
  border: 2px solid #494949;
  z-index: 2;
  background: none;
}

input:disabled {
  color: #8c8c8c;
  border: 2px solid #bababa;
}

.input:disabled ~ .input-label {
  color: #8c8c8c;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.input:focus {
  border: 2px solid #0baeef;
}

.input:focus ~ .input-label {
  z-index: 3;
  transform: translateX(15px) translateY(-20px);
  margin: 0;
  font-size: 10px;
  padding: 0 0.2em;
  border-radius: 2px;
  color: #0baeef;
}

.input-label {
  position: absolute;
  z-index: 1;
  margin: 0.5em 1em;
  transition: all linear 150ms;
  background-color: inherit;
}

.shrink-input-label {
  z-index: 3;
  transform: translateX(15px) translateY(-20px);
  margin: 0;
  font-size: 10px;
  padding: 0 0.2em;
  border-radius: 2px;
}
