.card {
  display: flex;
  background-color: blueviolet;
  padding: 0.5em;
  flex-direction: column;
  border-radius: 5px;
  height: 200px;
  width: 150px;
  position: relative;
}

.card-img {
  flex: 1;
  border-radius: 5px 5px 0 0;
  background-color: rgb(16, 48, 191);
  /* The image overflows the container due to unspecified size {flex : 1}, retaining its native dimensions */
  overflow: hidden;
  object-fit: cover;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 400;
  background-color: aqua;
  border-radius: 0 0 5px 5px;
}

.card-caption {
  font-size: xx-small;
}

.option-panel {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.587);
  top: 0.5em;
  width: 5%;
  bottom: 0.5em;
  right: 0.5em;
  z-index: 0;
  border-radius: 0 5px 5px 0;
  transition: ease-in-out 100ms;
  display: flex;
}

.option-panel:hover {
  cursor: pointer;
  width: 20%;
}

.option-panel:hover > .option-panel-icons {
  display: flex;
}

.option-panel-icons {
  display: none;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  row-gap: 0.5em;
}

.option-panel-icon {
  display: flex;
  background-color: #ff0000;
  justify-content: center;
  border-radius: 2px;
  transition: all 100ms;
}

.option-panel-icon:hover {
  background-color: #ffffff;
}
.option-panel-icon:active {
  color: #3a0eff;
}
