#header {
  display: flex;
  background-color: blueviolet;
  position: sticky;
  top: 0;
  z-index: 100;
  flex: 1;
  min-height: 5%;
  max-height: 5%;
}

.header-container {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: end;
}

.header-icon {
  display: flex;
  align-items: center;
  font-size: large;
  margin-right: 0.5em;
  cursor: pointer;
  border-radius: 0.2em;
}
.header-icon:hover {
  background-color: rgb(173, 173, 173);
}
